.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cg-button {
  background: v-bind('cssVar.theme');
  height: v-bind('buttonSizeVar.height');
  font-size: v-bind('buttonSizeVar.fontSize');
  color: v-bind('cssVar.color');
  padding: v-bind('buttonSizeVar.padding');
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cg-button:hover {
  opacity: 0.7;
}
.cg-button.cg-button--round {
  border-radius: v-bind('cssVar.round');
}
.cg-button.cg-button--circle {
  border-radius: v-bind('buttonSizeVar.circle');
}
.cg-button.cg-button--ghost {
  background: transparent;
  border: 1px solid v-bind('cssVar.theme');
  color: v-bind('cssVar.theme');
}
.cg-button.cg-button--ghost:hover {
  background: v-bind('cssVar.theme');
  color: v-bind('cssVar.color');
}
.cg-button.cg-button--ghost.cg-button--dashed {
  border-style: dashed;
}
.cg-button.cg-button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.cg-button.cg-button--text {
  border: none;
  background: none;
  color: v-bind('cssVar.theme');
}
.cg-button.cg-button--default {
  border: 1px solid #eee;
  color: #333;
  background: #fff;
}
