.cg-h1{
  font-size: var(--fontSize-1);
  font-weight: 600;
  margin: 18px 0;
  color: #444;
}
.cg-h2{
  font-size: var(--fontSize-2);
  font-weight: 500;
  margin-bottom: 16px;
}
.cg-h3{
  font-size: var(--fontSize-3);
  font-weight: 500;
  margin: 12px 0;
}
.cg-p{
  font-size: var(--fontSize-3);
  margin: 16px 0;
}
.grid{
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
}

.cg-a{
  color: #2e77ff;
  display: inline-flex;
  align-items: center;
  &:hover{
    opacity: .7;
  }
}

.cg-table-wrapper{
  width: 100%;
  font-size: var(--fontSize-3);
  table{
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 1px solid var(--border-color);
    border-spacing: 0;
    line-height: 40px;
    margin-bottom: 30px;
    td, th{
      padding: 15px;
      text-align: inherit;
    }
    th{
      font-size: var(--fontSize-2);
      font-weight: 400;
      color: #999;
    }
  }
  thead{
    background: rgba(244, 244, 248, .6);
  }
}

.cg-text--code{
  padding: 2px 6px;
  color: #333639;
  background-color: #f4f4f8;
}

.doc{
  display: flex;
  padding: 20px;
  .content{
    flex: 1;
    height: 100%;
    .time{
      text-align: right;
      font-size: 12px;
      font-style: oblique;
    }
  }
  .doc-nav{
    width: 140px;
    flex-shrink: 0;
  }
}

pre.code{
  font-size: var(--fontSize-3);
  line-height: 24px;
  letter-spacing: 2px;

}