.cg-h1{
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
}
.cg-h2{
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0;
}
.cg-h3{
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
}
.cg-p{
  font-size: 14px;
  margin: 6px 0;
}
.grid{
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: repeat(2, auto);
}

.cg-table-wrapper{
  width: 100%;
  font-size: 14px;
  table{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 1px solid var(--border-color);
    border-spacing: 0;
    line-height: 40px;

  }
  thead{
    background: rgb(244, 244, 248);
  }
}

.cg-text--code{
  padding: 2px 6px;
  color: #333639;
  background-color: #f4f4f8;
}