:root{
  --header-height: 64px;
  --border-color: #eee;
  --theme: #ff8f5b;
  --theme-hover: #fce8c9;

  --doc-nav-width: 4px;

  --fontSize-1: 20px;
  --fontSize-2: 16px;
  --fontSize-3: 14px;

  --color: #333;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
