:root{
  --header-height: 64px;
  --border-color: #eee;
  --theme: #f5a51a;
  --theme-hover: rgba(245, 165, 26, .15);

  --doc-nav-width: 4px;

  --fontSize-1: 18px;
  --fontSize-2: 16px;
  --fontSize-3: 14px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
